$css--font-face: true;
$css--reset: true;
$qrcolor: #e60058;
//@import "~tropical-components/src/bootstrap/bootstrap.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
//@import "~tropical-components/src/ssb/tropical.scss";
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

@font-face {
  font-family: Px437_IBM_VGA8;
  src: url(./Px437_IBM_VGA8.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #2d2a2e;
  font-family: Px437_IBM_VGA8, monospace;
  font-size: 1rem;
  line-height: 1;
  //   padding: 0;
  //   margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //font-smoothing: antialiased;
  font-weight: 400;
  .row {
    margin-top: 15px;
  }
  .qrCodeBlock {
    position: relative;
    display: block;
    max-width: 100%;
    overflow: hidden;
    .qrCode0 {
      //position: relative;
      display: block;
      font-size: 8px; /* change the size of this to see how ralph will scale up or down */
      height: 1em;
      width: 1em;
      margin: 0 0em 1em 0;
      //float: left;
      box-shadow:
      
       /* row 1 */ 0em 0em $qrcolor, 3em 0em $qrcolor,
        6em 0em $qrcolor, 7em 0em $qrcolor, 2em 0em $qrcolor, 12em 0em $qrcolor,
        15em 0em $qrcolor, 16em 0em $qrcolor, 3em 0em $qrcolor,
        22em 0em $qrcolor, 24em 0em $qrcolor, 29em 0em $qrcolor,
        45em 0em $qrcolor, 34em 0em $qrcolor, /* row 2 */ 0em 1em $qrcolor,
        1em 1em $qrcolor, 3em 1em $qrcolor, 5em 1em $qrcolor, 0em 1em $qrcolor,
        12em 1em $qrcolor, 13em 1em $qrcolor, 15em 1em $qrcolor,
        16em 1em $qrcolor, 3em 1em $qrcolor, 21em 1em $qrcolor,
        23em 1em $qrcolor, 24em 1em $qrcolor, 43em 1em $qrcolor,
        42em 1em $qrcolor, 39em 1em $qrcolor, 27em 1em $qrcolor,
        28em 1em $qrcolor, 29em 1em $qrcolor;
    }
    .qrCode1 {
      //position: relative;
      display: block;
      font-size: 8px; /* change the size of this to see how ralph will scale up or down */
      height: 1em;
      width: 1em;
      margin: 0 0em 1em 0;
      //float: left;
      box-shadow: 0em 0em $qrcolor, 1em 0em $qrcolor, 6em 0em $qrcolor,
        9em 0em $qrcolor, 11em 0em $qrcolor, 12em 0em $qrcolor,
        14em 0em $qrcolor, 16em 0em $qrcolor, 17em 0em $qrcolor,
        18em 0em $qrcolor, 19em 0em $qrcolor, 20em 0em $qrcolor,
        23em 0em $qrcolor,
        // 24em  0em $qrcolor,
          25em 0em $qrcolor,
        30em 0em $qrcolor, 39em 0em $qrcolor, 35em 0em $qrcolor,
        36em 0em $qrcolor, 38em 0em $qrcolor, 40em 0em $qrcolor,
        41em 0em $qrcolor, 46em 0em $qrcolor, 43em 0em $qrcolor,
        47em 0em $qrcolor, 49em 0em $qrcolor, 1em 1em $qrcolor, 3em 1em $qrcolor,
        5em 1em $qrcolor, 8em 1em $qrcolor, 10em 1em $qrcolor, 12em 1em $qrcolor,
        13em 1em $qrcolor, 15em 1em $qrcolor, 16em 1em $qrcolor,
        18em 1em $qrcolor, 19em 1em $qrcolor, 21em 1em $qrcolor,
        23em 1em $qrcolor, 24em 1em $qrcolor, 25em 1em $qrcolor,
        27em 1em $qrcolor, 29em 1em $qrcolor, 34em 1em $qrcolor,
        32em 1em $qrcolor, 36em 1em $qrcolor, 37em 1em $qrcolor,
        39em 1em $qrcolor, 40em 1em $qrcolor, 42em 1em $qrcolor,
        43em 1em $qrcolor, 45em 1em $qrcolor, 50em 1em $qrcolor,
        26em 1em $qrcolor;
    }
    .qrCode2 {
      //position: relative;
      display: block;
      font-size: 8px; /* change the size of this to see how ralph will scale up or down */
      height: 1em;
      width: 1em;
      margin: 0 0em 1em 0;
      //float: left;
      box-shadow:
        
         /* row 1 */ 0em 0em $qrcolor, 1em 0em $qrcolor,
        6em 0em $qrcolor, 9em 0em $qrcolor, 11em 0em $qrcolor, 12em 0em $qrcolor,
        14em 0em $qrcolor, 16em 0em $qrcolor, 17em 0em $qrcolor,
        18em 0em $qrcolor, 19em 0em $qrcolor, 20em 0em $qrcolor,
        23em 0em $qrcolor,
        // 24em  0em $qrcolor,
          25em 0em $qrcolor,
        30em 0em $qrcolor, 39em 0em $qrcolor, 35em 0em $qrcolor,
        36em 0em $qrcolor, 38em 0em $qrcolor, 40em 0em $qrcolor,
        41em 0em $qrcolor, 46em 0em $qrcolor, 43em 0em $qrcolor,
        47em 0em $qrcolor, 49em 0em $qrcolor, /* row 2 */ 0em 1em $qrcolor,
        1em 1em $qrcolor, 3em 1em $qrcolor, 5em 1em $qrcolor, 0em 1em $qrcolor,
        12em 1em $qrcolor, 13em 1em $qrcolor, 15em 1em $qrcolor,
        16em 1em $qrcolor, 3em 1em $qrcolor, 21em 1em $qrcolor,
        23em 1em $qrcolor, 28em 1em $qrcolor, 29em 1em $qrcolor,
        33em 1em $qrcolor, 35em 1em $qrcolor, 36em 1em $qrcolor,
        40em 1em $qrcolor, 41em 1em $qrcolor, 44em 1em $qrcolor;
    }
  }
}

// 24em  0em $qrcolor,
// 25em  0em $qrcolor,
// 30em  0em $qrcolor,
// 39em  0em $qrcolor,
// 35em  0em $qrcolor,
// 36em  0em $qrcolor,
// 38em  0em $qrcolor,
// 40em  0em $qrcolor,
// 41em  0em $qrcolor,
// 46em  0em $qrcolor,
// 43em  0em $qrcolor,
// 47em  0em $qrcolor,
// 49em  0em $qrcolor,

// 25em  1em $qrcolor,
// 27em  1em $qrcolor,
// 29em  1em $qrcolor,
// 34em  1em $qrcolor,
// 32em  1em $qrcolor,
// 36em  1em $qrcolor,
// 37em  1em $qrcolor,
// 39em  1em $qrcolor,
// 40em  1em $qrcolor,
// 42em  1em $qrcolor,
// 43em  1em $qrcolor,
// 45em  1em $qrcolor,
// 50em  1em $qrcolor,
// 26em  1em $qrcolor,
